name: Metrics
on:
  # Schedule daily updates
  schedule: [{ cron: '0 0 1 * *' }]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: { branches: ['main'] }
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - name: Achievements
        # if: ${{ success() || failure() }}
        uses: 'bbaaxx/self-maintained-Metrics@master'
        with:
          filename: achievements.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ''
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_fortune: yes

      - name: Main Stuff
        # if: ${{ success() || failure() }}
        uses: 'bbaaxx/self-maintained-Metrics@master'
        with:
          filename: mainstuff.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header
          base_indepth: yes
          config_timezone: America/Mexico_City
          # config_display: columns
          config_order: base.header, isocalendar, languages, notable, discussions, topics
          # output_action: gist
          # committer_gist: ${{ secrets.GIST }}
          plugin_isocalendar: yes
          plugin_languages: yes
          # plugin_languages_ignored: html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot, vue, scala, c, c++, python, ejs
          plugin_languages_details: lines, bytes-size, percentage
          plugin_languages_sections: most-used, recently-used
          plugin_languages_indepth: yes
          plugin_languages_limit: 2
          # plugin_topics: yes
          # plugin_topics_limit: 0
          # plugin_topics_mode: icons
          plugin_notable: yes
          # plugin_discussions: yes
